In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('olid-training-v1.0.csv', header=None)
train_df.head()

       0                                                  1  2    3    4
0  90194  @USER @USER Go home you’re drunk!!! @USER #MAG...  0  TIN  IND
1  16820  Amazon is investigating Chinese employees who ...  1  NaN  NaN
2  62688  @USER Someone should'veTaken" this piece of sh...  0  UNT  NaN
3  43605  @USER @USER Obama wanted liberals &amp; illega...  1  NaN  NaN
4  97670                  @USER Liberals are all Kookoo !!!  0  TIN  OTH

In [3]:
test_df = pd.read_csv('testset-levela.csv', header=None)
test_df.head()

       0                                                  1
0  15923  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...
1  27014  #ConstitutionDay is revered by Conservatives, ...
2  30530  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...
3  13876  #Watching #Boomer getting the news that she is...
4  60133  #NoPasaran: Unity demo to oppose the far-right...

In [4]:
train_df_bert = pd.DataFrame({
    '0':range(len(train_df)),
    '2':train_df[2],
    'alpha':['a']*train_df.shape[0],
    '1': train_df[1].replace(r'\n', ' ', regex=True)
})

train_df_bert.head()

   0  2 alpha                                                  1
0  0  0     a  @USER @USER Go home you’re drunk!!! @USER #MAG...
1  1  1     a  Amazon is investigating Chinese employees who ...
2  2  0     a  @USER Someone should'veTaken" this piece of sh...
3  3  1     a  @USER @USER Obama wanted liberals &amp; illega...
4  4  0     a                  @USER Liberals are all Kookoo !!!

In [7]:
dev_df_bert = pd.DataFrame({
    '0':range(len(test_df)),
    'alpha':['a']*test_df.shape[0],
    '1': test_df[1].replace(r'\n', ' ', regex=True)
})

dev_df_bert.head()

   0 alpha                                                  1
0  0     a  #WhoIsQ #WheresTheServer #DumpNike #DECLASFISA...
1  1     a  #ConstitutionDay is revered by Conservatives, ...
2  2     a  #FOXNews #NRA #MAGA #POTUS #TRUMP #2ndAmendmen...
3  3     a  #Watching #Boomer getting the news that she is...
4  4     a  #NoPasaran: Unity demo to oppose the far-right...

In [5]:
train_df_bert.to_csv('train.tsv', sep='\t', index=False, header=False)

In [8]:
dev_df_bert.to_csv('dev.tsv', sep='\t', index=False, header=False)